<md-dialog aria-label="교구" ng-init="fetchInitialData()">
	<form ng-cloak>
		<md-dialog-content style="padding:10px">
			<span flex></span>

			<md-toolbar>
				<div class="md-toolbar-tools">
					<h4>
						<span>필요 교구</span>
					</h4>
				</div>
			</md-toolbar>
			<style type="text/css">
				.tg {
					border-collapse: collapse;
					border-spacing: 0;
					border-color: #999;
					width: 97%;
					margin: 1.5%;
				}
				
				.tg td {
					font-family: Arial, sans-serif;
					font-size: 14px;
					padding: 10px 5px;
					border-style: solid;
					border-width: 1px;
					overflow: hidden;
					word-break: normal;
					border-color: #999;
					color: #444;
					background-color: #F7FDFA;
				}
				
				.tg th {
					font-family: Arial, sans-serif;
					font-size: 14px;
					font-weight: normal;
					padding: 10px 5px;
					border-style: solid;
					border-width: 1px;
					overflow: hidden;
					word-break: normal;
					border-color: #999;
					color: #fff;
					background-color: #26ADE4;
				}
				
				.tg .tg-e9v8 {
					font-size: 15px;
					text-align: center;
					vertical-align: top
				}
				
				.tg .tg-e9v9 {
					font-size: 15px;
					text-align: center;
					vertical-align: top;
					background-color: #20ADE4
				}
			</style>
			<table class="tg">
				<table class="tg" style="padding-top:10px; min-width:200px;">
				<tr>
					<th class="tg-e9v9">카테고리</th>
					<th class="tg-e9v8">제품명</th>
				</tr>
				<tr ng-repeat="item in necItems">
					<td class="tg-e9v9">{{item.nuribox_need_category_no}}</td>
					<td class="tg-e9v8">{{item.nuribox_need_nm}}</td>
				</tr>

			</table>
			</table>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h4>
						<span>교구 사진</span>
					</h4>
					<span flex=""></span>
				</div>
			</md-toolbar>
			<style type="text/css">
				ul.images {
					padding: 0;
					white-space: nowrap;
					width: 900px;
					overflow-x: auto;
					background-color: #ddd;
					display: inline;
				}
				
				ul.images li {
					display: inline;
					width: 150px;
					height: 150px;
				}
			</style>
			<ul class="images" ng-repeat="image in images">
				<li><img src={{image.nuribox_own_image_url}} width="auto" height="150px"></li>
			</ul>

		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="answer('useful')">
				닫기
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>